/* Color palette */
:root {
  --black: #272727;
}

/* Text styles */

body {
  word-break: keep-all;
  font-size: 0.95em;
  line-height: 1.9;
  word-spacing: 0.02em;
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", serif;
}

/* index-contents-motion */

.index-contents {
  animation: 1.5s bodypopin ease-in-out;
}

@keyframes bodypopin {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* mobile device */

@media screen and (max-width: 640px) {
  body .header {
    height: 60px;
    z-index: 9999;
    padding: 0;
  }

  body .header-top {
    padding: 22px 25px 0 25px;
  }

  body .header-logo {
    max-width: 92px;
    height: 24px;
  }

  body #menu {
    right: 25px;
    top: 24px;
  }

  body .header-bottom {
    width: 100%;
    margin-top: 13px;
  }

  body .header-bottom-line {
    height: 1px;
    margin-top: 0px;
  }

  body .index-contents {
    max-width: 100%;
    top: 60px;
    padding: 0;
  }

  body .index-mainimgbox {
    height: 320px;
  }

  body .index-maintxt {
    max-width: 121px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  body .index-maintxt span {
    max-width: 121px;
    font-family: "Barlow-light";
    font-size: 24px;
    line-height: 1.03;
    letter-spacing: 4.2px;
  }
}
