html,
body {
  overflow-x: hidden;
}

::selection {
  background: #d0021b;
  color: white;
}

/* top-button-start*/
.top {
  position: fixed;
  right: 39px;
  bottom: 60px;
  display: none;
}
.top img {
  width: 40px;
}
/* top-button-end */
