.header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  display: block;
  padding: 41px 50px 0px 50px;
}

.header-top {
  width: 100%;
  height: auto;
}

.header-logo {
  max-width: 117px;
  height: 31px;
}

.header-logo img {
  width: 100%;
  top: 0;
  left: 0;
}

/* menubutton */

#menu {
  width: 22px;
  height: 20px;
  position: absolute;
  right: 50px;
  top: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

#menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #272727;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#menu span:nth-child(even) {
  left: 50%;
}
#menu span:nth-child(odd) {
  left: 0px;
}
#menu span:nth-child(1),
#menu span:nth-child(2) {
  top: 0px;
}
#menu span:nth-child(3),
#menu span:nth-child(4) {
  top: 8px;
}
#menu span:nth-child(5),
#menu span:nth-child(6) {
  top: 16px;
}
#menu.open span {
  background: #ffffff;
}
#menu.open span:nth-child(1),
#menu.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu.open span:nth-child(2),
#menu.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu.open span:nth-child(1) {
  left: 2px;
  top: 5px;
}
#menu.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 5px;
}
#menu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#menu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#menu.open span:nth-child(5) {
  left: 2px;
  top: 12px;
}
#menu.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 12px;
}

#close {
  width: 25px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}
#close span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #15123d;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#close span:nth-child(even) {
  left: 50%;
}
#close span:nth-child(odd) {
  left: 0px;
}
#close span:nth-child(1),
#close span:nth-child(2) {
  top: 0px;
}
#close span:nth-child(3),
#close span:nth-child(4) {
  top: 8px;
}
#close span:nth-child(5),
#close span:nth-child(6) {
  top: 12px;
}
#close span {
  background: #ffffff;
}
#close span:nth-child(1),
#close span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close span:nth-child(2),
#close span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#close span:nth-child(1) {
  left: 2px;
  top: 5px;
}
#close span:nth-child(2) {
  left: calc(50% - 2px);
  top: 5px;
}
#close span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#close span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#close span:nth-child(5) {
  left: 2px;
  top: 12px;
}
#close span:nth-child(6) {
  left: calc(50% - 2px);
  top: 12px;
}

#popup-bg {
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#popup-nav {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background: #55aa7e;
  top: 0;
  right: -450px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 53px;
  z-index: 60;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  display: block;
}
#popup-nav.open-popup {
  right: 0;
}
#popup-nav nav ul {
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
#popup-nav nav ul li {
  display: block;
}
#popup-nav nav ul li.secondary-nav {
  margin-top: 30px;
}
#popup-nav nav a {
  font-size: 13px;
  font-family: "Barlow-Medium";
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  line-height: 36px;
}
#popup-nav nav a:hover {
  border-bottom: 2px solid #fdc13c;
}
#popup-nav nav a.large {
  font-size: 45px;
  line-height: 70px;
  border-bottom: 5px solid transparent;
  text-transform: uppercase;
}
#popup-nav nav a.large:hover {
  border-bottom: 5px solid #fdc13c;
}

#popup-nav #utility ul.social {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
#popup-nav #utility ul.social li {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
#popup-nav #utility ul.social li a {
  border-bottom: none;
  text-indent: -99999px;
  position: absolute;
  background: #ffffff;
}
#popup-nav #utility ul.social li a:hover {
  background: #fdc13c;
}
#popup-nav #utility ul.social li a.icon--be {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: 20px;
}

#popup-nav #utility ul.social li a.icon--be i {
  font-size: 15px;
  color: black;
}

#popup-nav #utility ul.social li a.icon--in {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: 20px;
}

/* menubar */

.header-bottom-line {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 27px;
}
