a,
i {
  text-decoration: none;
  color: #ffffff;
}

.header {
  width: 280px;
  padding: 52px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
  position: fixed;
  background-color: #272727;
  color: #ffffff;
}

.title {
  margin-bottom: 55px;
  width: 177px;
}

.underline {
  border: solid 0.5px #ffffff;
  margin-top: 89px;
  margin-bottom: 30px;
}

.logo {
  width: 135px;
  height: auto;
}

.name-kr {
  color: #ffffff;
  text-decoration: none;
  font-family: NotoSansCJKkr;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: -1.9px;
}

.category {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.3px;
  margin-bottom: 400px;
}

.category-name {
  padding-bottom: 30px;
  text-decoration: none;
  color: #ffffff;
}

.bottom-link-box {
  height: 100%;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.link-icon {
  font-size: 23px;
  margin-right: 23px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 52px;
  padding-right: 40px;
}

.footer-text {
  font-family: Barlow Semi Condensed;
  font-size: 21px;
  font-style: italic;
  letter-spacing: 2px;
  text-align: right;
  color: #272727;
}
