.mobile-main {
  display: none;
}

.main-text {
  position: absolute;
  z-index: 97;
  max-width: 800px;
  left: 5%;
  top: 45%;
  margin-right: 5%;
}

.main-text img {
  width: 100%;
}

#slideshow {
  opacity: 0.5;
}

.bgwidth {
  width: 100%;
}
.bgheight {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

#slideshow img {
  position: absolute;
}
