@media screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  /* header-start */
  body .mobile-header {
    display: block;
    position: fixed;
    z-index: 997;
    width: 100%;
    height: 66px;
    padding: 26px 23px 14px 23px;
  }

  body .mobile-header-logo {
    display: block;
    position: fixed;
    width: 100px;
    height: 25px;
  }

  body .mobile-header-logo img {
    width: auto;
    height: 100%;
  }

  body #nav {
    right: 23px;
    top: 30px;
  }

  body #popup-nav {
    padding: 98px 23px 25px 24px;
    height: 100%;
  }

  body #popup-nav nav ul {
    margin-bottom: 40px;
  }

  body #reddot {
    bottom: 125px;
    left: 125px;
  }

  body #popup-nav-line {
    width: 253px;
  }

  body .social {
    margin-top: 40px;
  }
  /* header-end */

  /* footer-start */
  body .footer {
    display: none;
  }

  body .footer-center {
    display: none;
  }

  body .mobile-footer {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    padding-left: 23px;
    padding-right: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body .mobile-froots-krname {
    font-family: "NotoSansKR", sans-serif;
    font-weight: bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: black;
  }

  body .mobile-froots-sub {
    font-family: HelveticaNeue-medium, Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0px;
    color: #000000;
  }

  body .top {
    right: 23px;
    bottom: 45px;
  }

  body .top img {
    width: 50px;
  }

  /* footer-end */

  /* container-start */
  body .container {
    display: none;
  }

  body .mobile-main {
    display: block;
  }

  body .mobile-main-photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body .mobile-main-photo img {
    position: relative;
    width: 1280px;
    height: 1024px;
    opacity: 0.5;
  }

  body .mobile-main-text {
    display: block;
    position: absolute;
    z-index: 97;
    max-width: 80vw;
    left: 6%;
    bottom: 15%;
    margin-right: 5%;
  }

  body .mobile-main-text img {
    width: 100%;
  }

  /* container-end */

  /* about-start */

  body .about {
    display: block;
    top: 110px;
  }

  /* about-end */

  /* pf-main start */
  body .pf-main-content-overlay {
    opacity: 0;
  }

  body .pf-main-content-details {
    opacity: 1;
  }

  body .pf-main-content-details {
    padding-left: 20px;
    bottom: 20px;
  }

  /* pf-main end */

  /* pf-content start */

  body .pf-content-info {
    margin-right: 0;
  }

  body .pf-content {
    padding: 85px 30px 100px 30px;
  }

  body .pf-content-img {
    margin-bottom: 30px;
  }

  body .pf-content-img {
    margin-bottom: 30px;
  }

  body .pf-content-head-box {
    flex-direction: column;
    margin-bottom: 30px;
  }

  body .pf-content-text {
    margin-bottom: 30px;
  }

  body .pf-content-info-title {
    margin-bottom: 5px;
  }

  body .pf-content-info-title span {
    font-size: 40px;
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  }

  body .pf-content-info-category {
    margin-bottom: 20px;
  }

  body .pf-content-info-dateclient {
    margin-bottom: 40px;
  }

  /* pf-content end */

  /* pf-menu-icon-start */
  body .menu-icon {
    bottom: 45px;
  }
  /* pf-menu-icon-end */
}
