.pf-content {
  width: 100%;
  height: 100%;
  padding: 114px 30px 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pf-content-head-box {
  display: flex;
  margin-bottom: 80vh;
}

.pf-content-info {
  margin-right: 5vw;
}

.pf-content-info-title {
  margin-bottom: 17px;
}

.pf-content-info-title span {
  word-break: keep-all;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 55px;
  letter-spacing: 0;
  color: #000000;
}

.pf-content-info-category {
  height: auto;
  margin-bottom: 40px;
}

.pf-content-info-category span {
  word-break: keep-all;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #848484;
}

.pf-content-info-dateclient {
  height: auto;
  display: flex;
  flex-direction: row;
}

.date-client-title {
  margin-right: 10px;
}

.date-client-title span {
  word-break: keep-all;
  font-family: HelveticaNeue-regular, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #000000;
}

.date-client-info span {
  word-break: keep-all;
  font-family: HelveticaNeue-regular, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #000000;
}

.pf-content-head-detailtext {
  max-width: 530px;
}

.pf-content-head-detailtext span {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #000000;
}

.pf-content-text-box {
  position: relative;
}

.pf-content-text-detailtext {
  max-width: 800px;
  margin-bottom: 100px;
}

.pf-content-text-detailtext span {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #000000;
}

/* menu-icon */

.menu-icon {
  display: none;
  position: fixed;
  width: 46px;
  height: 46px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 68px;
  border: solid 1px #d1d1d1;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #d1d1d1;
}

.menu-icon span:nth-child(1) {
  top: 13px;
  left: 13px;
}

.menu-icon span:nth-child(2) {
  top: 13px;
  left: 23px;
}

.menu-icon span:nth-child(3) {
  top: 23px;
  left: 13px;
}

.menu-icon span:nth-child(4) {
  top: 23px;
  left: 23px;
}
