.pf {
  width: 100%;
  height: 100%;
  padding: 114px 30px 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pf-head-box {
  display: flex;
  margin-bottom: 80vh;
}

.pf-info {
  margin-right: 5vw;
}

.pf-info-title {
  margin-bottom: 17px;
}

.pf-info-title span {
  word-break: keep-all;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 55px;
  letter-spacing: 0;
  color: #000000;
}

.pf-info-category {
  height: auto;
  margin-bottom: 40px;
}

.pf-info-category span {
  word-break: keep-all;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #848484;
}

.pf-info-dateclient {
  height: auto;
  display: flex;
  flex-direction: row;
}

.date-client-title {
  margin-right: 10px;
}

.date-client-title span {
  word-break: keep-all;
  font-family: HelveticaNeue-regular, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #000000;
}

.date-client-info span {
  word-break: keep-all;
  font-family: HelveticaNeue-regular, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #000000;
}

.pf-head-detailtext {
  max-width: 530px;
}

.pf-head-detailtext span {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #000000;
}

.pf-text-box {
  position: relative;
}

.pf-text-detailtext {
  max-width: 800px;
  margin-bottom: 100px;
}

.pf-text-detailtext span {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #000000;
}
