.request {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 85px 30px 100px 30px;
}

.request-title {
  margin-bottom: 50px;
  text-align: center;
}

.request-title span {
  font-family: HelveticaNeue-Medium, Helvetica, Arial, sans-serif;
  font-size: 47px;
  letter-spacing: 0px;
  color: black;
}

.request-subtitle {
  margin-bottom: 25px;
  text-align: center;
}

.request-subtitle span {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #000000;
}

.request-notice {
  margin-bottom: 17px;
  text-align: center;
}

.request-notice span {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: regular;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.4px;
  color: #000000;
}

.request-must {
  margin-bottom: 59px;
  text-align: center;
}

.request-must span {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: regular;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.4px;
  color: #d0021b;
}

.form-title {
  border: solid 1px black;
  max-width: 512px;
  height: 30px;
  margin: 0 auto 37px auto;
  display: flex;
}

hr {
  width: 512px;
  border: solid 3px black;
}

.form-title-text {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.form-title-text span {
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: Bold;
  font-size: 18px;
  letter-spacing: -0.6px;
  color: #000000;
}

.form-question {
  text-align: center;
}
