/* section index start */

.section-index {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index-img img {
  width: 200px;
  height: auto;
}
.index-title {
  margin-bottom: 29px;
}

/* section index end */

/* section work start */

.section-work {
  position: absolute;
  top: 140px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  width: 40%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  position: relative;
}

.work img {
  width: 100%;
  position: relative;
}

.work-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 4%;
  padding-bottom: 3%;
}

/* section work end */

/* section about start */
.section-about {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-img {
  margin-right: 70px;
}

.about-img img {
  width: 400px;
}
/* section about end */

/* section contact start */
.section-contact {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-img {
  margin-right: 50px;
}

.contact-img img {
  width: 200px;
}

.contact-text a {
  text-decoration: underline;
  color: var(--black);
}

/* section contact end */
