html,
body {
  overflow-x: hidden;
}
#menu {
  width: 25px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

#menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #272727;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#menu span:nth-child(even) {
  left: 50%;
}
#menu span:nth-child(odd) {
  left: 0px;
}
#menu span:nth-child(1),
#menu span:nth-child(2) {
  top: 0px;
}
#menu span:nth-child(3),
#menu span:nth-child(4) {
  top: 8px;
}
#menu span:nth-child(5),
#menu span:nth-child(6) {
  top: 16px;
}
#menu.open span {
  background: #ffffff;
}
#menu.open span:nth-child(1),
#menu.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu.open span:nth-child(2),
#menu.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu.open span:nth-child(1) {
  left: 2px;
  top: 5px;
}
#menu.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 5px;
}
#menu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#menu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#menu.open span:nth-child(5) {
  left: 2px;
  top: 14px;
}
#menu.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 14px;
}

#close {
  width: 25px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}
#close span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #15123d;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#close span:nth-child(even) {
  left: 50%;
}
#close span:nth-child(odd) {
  left: 0px;
}
#close span:nth-child(1),
#close span:nth-child(2) {
  top: 0px;
}
#close span:nth-child(3),
#close span:nth-child(4) {
  top: 8px;
}
#close span:nth-child(5),
#close span:nth-child(6) {
  top: 16px;
}
#close span {
  background: #ffffff;
}
#close span:nth-child(1),
#close span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#close span:nth-child(2),
#close span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#close span:nth-child(1) {
  left: 2px;
  top: 5px;
}
#close span:nth-child(2) {
  left: calc(50% - 2px);
  top: 5px;
}
#close span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#close span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#close span:nth-child(5) {
  left: 2px;
  top: 14px;
}
#close span:nth-child(6) {
  left: calc(50% - 2px);
  top: 14px;
}

#popup-bg {
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#popup-nav {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background: #55aa7e;
  top: 0;
  right: -450px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 60px;
  z-index: 60;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  display: block;
}
#popup-nav.open-popup {
  right: 0;
}
#popup-nav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
#popup-nav nav ul li {
  display: block;
}
#popup-nav nav ul li.secondary-nav {
  margin-top: 30px;
}
#popup-nav nav a {
  font-size: 18px;
  font-family: helvetica, arial;
  font-weight: 800;
  letter-spacing: 1px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
  line-height: 36px;
}
#popup-nav nav a:hover {
  border-bottom: 2px solid #fdc13c;
}
#popup-nav nav a.large {
  font-size: 60px;
  line-height: 80px;
  border-bottom: 10px solid transparent;
  text-transform: uppercase;
}
#popup-nav nav a.large:hover {
  border-bottom: 10px solid #fdc13c;
}
#popup-nav #utility a {
  font-size: 18px;
  font-family: helvetica, arial;
  font-weight: 400;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  line-height: 36px;
  border-bottom: 2px solid #ffffff;
}
#popup-nav #utility a:hover {
  border-bottom: 2px solid transparent;
}
/* #popup-nav #utility a.tel {
  font-size: 18px;
  font-weight: 800;
  border-bottom: 2px solid transparent;
}
#popup-nav #utility a.tel:hover {
  border-bottom: 2px solid #fdc13c;
} */
#popup-nav #utility ul.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
#popup-nav #utility ul.social li {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
#popup-nav #utility ul.social li a {
  border-bottom: none;
  text-indent: -99999px;
  position: absolute;
  background: #ffffff;
}
#popup-nav #utility ul.social li a:hover {
  background: #fdc13c;
}
#popup-nav #utility ul.social li a.icon--be {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: 20px;
}

#popup-nav #utility ul.social li a.icon--be i {
  font-size: 15px;
  color: black;
}

#popup-nav #utility ul.social li a.icon--in {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: 20px;
}

.call-to-action-popup {
  display: none;
  position: fixed;
  z-index: 100;
  background: #15123d;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: center;
}
.call-to-action-popup #call-to-action-logo {
  font-size: 25px;
  font-family: helvetica, arial;
  font-weight: 800;
  margin-top: 100px;
  position: relative;
  text-align: center;
  display: inline-block;
  margin-bottom: 80px;
  color: #fdc13c;
}
.call-to-action-popup #call-to-action-logo:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #ffffff;
  text-align: center;
  bottom: -10px;
  left: 50%;
  margin-left: -20px;
}
.call-to-action-popup #heading {
  display: block;
  font-size: 35px;
  font-family: helvetica, arial;
  font-weight: 800;
  position: relative;
  text-align: center;
}
.call-to-action-popup #another-cta {
  background: #fdc13c;
  color: #15123d;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 40px;
  font-size: 16px;
  font-family: helvetica, arial;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
}
.call-to-action-popup #another-cta:hover {
  background: #ffcb58;
}

/*# sourceMappingURL=popupmenubar.css.map */
