.landing-footer-box {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.landing-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 63px 50px 63px;
}

.landing-footer-left {
  font-family: BarlowSemiCondensed-MediumItalic;
  font-size: 21px;
  letter-spacing: 2px;
  color: #272727;
}

.landing-logo {
  width: 215px;
  height: 57px;
}

.landing-footer-studionamekr {
  font-family: NotoSansCJKkr-Medium;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: -2.1px;
  color: #272727;
  padding-top: 40px;
  padding-bottom: 29px;
}

.landing-footer-studioinfo {
  font-family: NotoSansCJKkr-Regular;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: -0.7px;
  color: #272727;
}
